{#
/**
* @file
* Display an error when getting events from event database.

* Available variables:
* - message: The error message
*/
#}

<section class="itk-event-database-error">
	<p>{{ 'Cannot display events' | t }}</p>
	<!-- {{ message }} -->
</section>
